@source "../{_includes,site-*}/**/*.{liquid,njk,md,text,yml}";
@import "@picocss/pico/css/pico.css";
@import "@anydigital/blades";
@import "@anydigital/blades/theme";
@import "@anydigital/breakout-css";

/* Custom styles go below */
@layer base {
  footer {
    text-align: center;
  }
}
@layer utilities {
  nav,
  nav ul {
    flex-wrap: wrap;
    background: var(--pico-background-color);
    /*border: var(--pico-border-width) solid var(--pico-muted-border-color);*/
    top: auto;
    z-index: auto;
    position: static;
  }

  @media (min-width: 576px) {
    nav,
    nav ul {
      flex-wrap: nowrap;
      top: 0;
      z-index: 1000;
      position: sticky;
    }
  }

  form .contact-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  @media only screen and (max-width: 576px) {
    form .contact-container {
      grid-template-columns: auto;
    }
  }

  .mw100px {
    min-width: 100px;
  }
}
