<!doctype html>
<html lang="{{ site.lang | d('en') }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    {% if not site.prod %}<meta name="htmx-config" content='{"selfRequestsOnly": false}'>{% endif %}
    <link rel="icon" href="{{ site.favicon | d('/favicon.ico') }}" />
    <title>
      {{- title | striptags ~ ' | ' if title -}}
      {{- site.title -}}
    </title>
    <meta name="description" content="{{ site.description }}" />

    {%- for href in site.styles %}
      <link rel="stylesheet" href="{{ href }}" />
    {%- endfor %}
    {# prettier-ignore-start #}<style>
      {{ site.inline_styles | d([]) | join('\n') }}
    </style>{# prettier-ignore-end #}

    {%- for src in site.scripts %}
      <script src="{{ src }}" defer></script>
    {%- endfor %}
    {# prettier-ignore-start #}<script type="module">
      {{ site.inline_scripts | d([]) | join('\n') }}
    </script>{# prettier-ignore-end #}

    {{ content_for_header }}
    {% include 'blades/gtm.njk' %}
  </head>

  <body>
    {% set for_body = true %}{% include 'blades/gtm.njk' %}
    {% set nav_pages = collections.all | eleventyNavigation | dataNavigation %}
    {% renderFile '_includes_minform/blades/nav.liquid', nav_pages  %}
    {% block body %}
    {% endblock %}
  </body>
</html>
