{% extends 'bricks/html.njk' %}

{% block body %}
  <main>
    <article class="prose lg:prose-xl xl:prose-2xl breakout-all">{{ content | safe }}</article>
  </main>
  <footer class="prose">
    <hr />
    {{ site.footer | renderContent('njk,md', site) | safe }}
  </footer>
{% endblock %}
