{% extends 'blades/html.njk' %}

{% block body %}
  <main class="container breakout-all">
      {{ content | safe }}
  </main>
  <footer>
    <hr />
    {{ site.footer | renderContent('njk,md', site) | safe }}
  </footer>
{% endblock %}
